/* Variables */
:root {
  /* Mode 1 */
  /* color */
  --colors-feedback-fe1: #991b1b;
  --colors-feedback-fe2: #fee2e2;
  --colors-feedback-fi1: #1e40af;
  --colors-feedback-fi2: #dbeafe;
  --colors-feedback-fs1: #115e59;
  --colors-feedback-fs2: #ccfbf1;
  --colors-feedback-fw1: #854d0e;
  --colors-feedback-fw2: #fef9c3;
  --colors-neutrals-n0: #ffffff;
  --colors-neutrals-n1: #eeeeee;
  --colors-neutrals-n10: #141219;
  --colors-neutrals-n2: #bfbfbf;
  --colors-neutrals-n3: #808080;
  --colors-neutrals-n4: #595959;
  --colors-palette-p1: #840aff;
  --colors-palette-p1-25: #840aff40;
  --colors-palette-p1-50: #c082ff;
  --colors-palette-p2: #ffff1e;
  --colors-palette-p3: #ff8400;
  /* number */
  --radius-rs: 0.625rem;
  --radius-rm: 0.9375rem;
  --radius-rl: 1.25rem;
  --spacing-xs: 0.3125rem;
  --spacing-s: 0.625rem;
  --spacing-m: 0.9375rem;
  --spacing-l: 1.25rem;
  --spacing-xl: 1.5625rem;
  --spacing-2xl: 1.875rem;
  --spacing-3xl: 2.1875rem;
}

:root {
  /* Text-size styles */
  /* base size: text-p-r (16px) */
  --text-h1-r: 2.43rem;
  --text-h2-r: 2.02rem;
  --text-h2-b: 2.02rem;
  --text-h3-r: 1.68rem;
  --text-h3-b: 1.68rem;
  --text-h4-m: 1.4rem;
  --text-h4-r: 1.4rem;
  --text-h5-r: 1.17rem;
  --text-h5-sb: 1.17rem;
  --text-h6-r: 1rem;
  --text-h6-sb: 1rem;
  --text-p-r: 1rem;
  --text-p-sb: 1rem;
  --text-s-r: 0.81rem;
  --text-s-rb: 0.81rem;

  /* Effect styles */
  --elevation-e1: 0px 1px 3px rgba(0, 0, 0, 0.3);
  --elevation-e2: 0px 2px 5px rgba(0, 0, 0, 0.2);
  --elevation-e3: 0px 2px 8px rgba(0, 0, 0, 0.25);
  --elevation-e4: 0px 0px 15px rgba(0, 0, 0, 0.3);
  --elevation-colored: 0px 0px 0px 4px rgba(132, 10, 255, 0.25);
}
